.gameScreen {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.boardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  white-space: pre;
  border: solid 1px black;
}

.stone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  background-color: white;
  border-radius: 50%;
}

.placeable {
  width: 40%;
  height: 40%;
  cursor: pointer;
  background-color: #ff0;
}

.leaveButton {
  padding: 10px 20px;
  margin: 10px 0;
  color: white;
  cursor: pointer;
  background-color: #f44336;
  border: none;
  border-bottom: 5px solid #b71c1c;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.leaveButton:hover {
  margin-top: 13px;
  background-color: #f44336;
  border-bottom: 2px solid #b71c1c;
}
